<div class="col-8 section-bg">
    <h2>BLOCK A / FLATS</h2>
    <hr>
    <div class="row">
        <div class="col">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Beds</th>
                    <th>Sqm</th>
                    <th>Floor</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
                <tr *ngFor="let item of dataA">
                    <td>{{item.id}}</td>
                    <td>{{item.beds}}</td>
                    <td>{{item.sqm}}</td>
                    <td>{{item.floor}}</td>
                    <td>{{item.price}}</td>
                    <td>
                        <span class="{{item.status ? 'status-avail':'status-red'}}">{{item.status ? "available":"reserved"}}</span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col">
            <table class="table">
                <tr>
                    <th></th>
                    <th>Beds</th>
                    <th>Sqm</th>
                    <th>Floor</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
                <tr *ngFor="let item of dataB">
                    <td>{{item.id}}</td>
                    <td>{{item.beds}}</td>
                    <td>{{item.sqm}}</td>
                    <td>{{item.floor}}</td>
                    <td>{{item.price}}</td>
                    <td>
                        <span class="{{item.status ? 'status-avail':'status-red'}}">{{item.status ? "available":"reserved"}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="col-8 section-bg wrap-hr">
    <div class="wrap">
        <div>
            FLAT 2
        </div>
        <div class="right">200.500</div>
    </div>
    <p>Laoreet perfect warm-up care, and temperature changes. Nam computer. However, free vehicles deductible.</p>
    <div class="row">
        <div class="col">
            <img width="100%" src="assets/img/img_1.jpg"/>
        </div>
        <div class="col">
            <img width="100%" src="assets/img/img_2.jpg"/>
        </div>
    </div>
    <div class="flex-container ">
        <div style="background-color: #000000;color: #ffffff">
            <a href="">Download brochure | </a>
            <a href="">Register interest</a>
        </div>

    </div>
    <hr>
    <div class="wrap">
        <div>
            FLAT 1
        </div>
        <div class="right">FLAT 3</div>
    </div>
</div>
