main
  display: flex
  flex-flow: row wrap
  justify-content: center
  width: 100%

p
  color: #7a7d86

h2
  color: #8a0a0a

.flexbox img
  width: 100%
  height: auto

.mt-5
  margin-top: 5em

.col-8
  flex-grow: 1
  max-width: 92%
  text-align: center
  margin: 0 auto

.mb-5
  margin-bottom: 5em

hr
  width: 130px
  border-top: 2px solid #8a0a0a
.wrap-hr
  hr
    width: 100%
    border-top: 1px solid #afafaf

.row
  display: flex
  flex-direction: column

/* .col Child

.col
  flex: 1
  padding: 1em
  margin: .6em
  /* important
  color: #333
  background-color: #fff
//border: 1px solid

.container
  display: flex
  flex-direction: column

.status-red
  background-color: #ae0903
  color: #fff
  padding: 4px 7px 4px 6px
  border-radius: 10px

.status-avail
  background-color: #5cb85c
  color: #fff
  padding: 4px 7px 4px 6px
  border-radius: 10px

.wrap
  display: flex
  justify-content: space-between

.right
  color: #ae0903

.wrapper
  display: contents
  width: 50%
  img
    width: 100%

.wrap-1
  padding: 5px
  //background-color: #1ca4fc
  order: 2

.wrap-2
  padding: 5px
//background-color: #65d643

.wrap-3
  padding: 5px
  //background-color: #f7b92b
  flex: 1
  order: 1
  img
    width: 100%
    height: 100%
    opacity: 0.5

.wrap-1, .wrap-2, .wrap-3
  display: flex
  align-items: center
  justify-content: center
  color: white
  //padding: 1em
  font-size: 2vmax

.btn

  font-size: 20px
  color: #ffffff
  padding: 7px 30px 7px 30px
  text-decoration: none
  margin-right: 15px
  margin-bottom: 15px
  text-transform: uppercase

.btn-red
  background-color: white
  color: #8a0a0a
  border: 2px solid #8a0a0a

.btn-rounded
  -webkit-border-radius: 25px
  -moz-border-radius: 25px
  border-radius: 25px

.btn:hover
  opacity: 0.9
  text-decoration: none
  cursor: pointer

.col-r
  margin: 0 0 0 7px
  position: relative
  right: 29px
  padding: 53px

.section-bg
  background: #eeeeee70
  padding: 43px

.card-1
  -moz-box-shadow: 0 0 5px #888
  -webkit-box-shadow: 0 0 5px #888
  box-shadow: 0 0 5px #888

.card-2
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1)
  .btn-red
    background-color: #8a0a0a
    color: #fff
    border: 2px solid #8a0a0a
    margin: 33px

.img-test
  position: relative
  text-align: center
  color: white

.centered
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.video-overlay-play-button
  box-sizing: border-box
  width: 100%
  height: 100%
  padding: 10px calc(50% - 50px)
  position: absolute
  display: block
  cursor: pointer
  transition: opacity 150ms

.video-overlay-play-button:hover
  opacity: 1

.top-left
  position: absolute
  top: 8px
  left: 16px
  font-size: 24px

.bg-img
  background-image: url("../../assets/img/interior.jpg")
  background-repeat: no-repeat
  min-width: 100vh
  flex: 1
  display: flex
  align-items: center
  justify-content: center
  background-size: cover
  background-position: center
  height: 150px
  p
    color: #fff

table
  border-collapse: collapse
  width: 100%

th, td
  text-align: left
  padding: 8px

tr:nth-child(even)
  background-color: #f2f2f2

th
  background-color: #fff
  color: #000000

.flex-container
  padding: 0
  margin: 25px
  list-style: none
  display: flex
  align-items: center
  justify-content: center

.flex-container
  div
    padding: 8px 8px 8px 8px

.flex-container
  a
    text-decoration: none
    color: #ffffff

@media screen and (min-width: 500px)
  .row
    display: flex
    flex-direction: row

@media all and (max-width: 650px)
  .flexbox
    width: 100%

@media all and (min-width: 651px)
  .col-1, .col-2
    width: 50%
  .col-3
    width: 100%

@media only screen and (min-width: 600px)
  .wrapper
    display: block
    width: 50%
  .container
    flex-direction: row
