<h2>HOUSES</h2>
<hr>
<div class="container-flex">
    <div class="flex-child">
        <div class="child-green">
            available
        </div>
    </div>
    <div class="flex-child">
        <div class="child-green">
            available
        </div>
    </div>
    <div class="flex-child">
        <div class="child-green">
            available
        </div>
    </div>
    <div class="flex-child green">
        <div class="child-green">
            available
        </div>
        <div class="hover-green">
            <p>text</p>
            <button>More</button>
        </div>
    </div>
    <div class="flex-child red">
        <div class="child-red">
            reserved
        </div>
        <div class="hover-div">
            <p>text</p>
            <button>More</button>
        </div>
    </div>
    <div class="flex-child">
        <div class="child-red">
            reserved
        </div>
        <div class="hover-div">
            <p>text</p>
            <button>More</button>
        </div>
    </div>
    <div class="flex-child">
        <div class="child-green">
            available
        </div>
    </div>
    <div class="flex-child">
        <div class="child-green">
            available
        </div>
    </div>
    <div class="flex-child">
        <div class="child-green">
            available
        </div>
    </div>
    <div class="flex-child">
        <div class="child-green">
            available
        </div>
    </div>
</div>

<div class="col-8 section-bg wrap-hr">
    <div class="wrap">
        <div>
            FLAT 2
        </div>
        <div class="right">200.500</div>
    </div>
    <p>Laoreet perfect warm-up care, and temperature changes. Nam computer. However, free vehicles deductible.</p>
    <div class="row">
        <div class="col">
            <img width="100%" src="assets/img/img_1.jpg"/>
        </div>
        <div class="col">
            <img width="100%" src="assets/img/img_2.jpg"/>
        </div>
    </div>
    <div class="flex-container ">
        <div style="background-color: #000000;color: #ffffff">
            <a href="">Download brochure | </a>
            <a href="">Register interest</a>
        </div>

    </div>
    <hr>
    <div class="wrap">
        <div>
            FLAT 1
        </div>
        <div class="right">FLAT 3</div>
    </div>
</div>