body
  min-height: 100vh
  display: flex
  flex-direction: column

.container
  flex-grow: 1

/*  Normal CSS

*
  box-sizing: border-box

body
  font-family: 'Open Sans', sans-serif
  color: #837777

header, footer
  background: #000

h1
  text-align: center
  color: #fff
  display: block

ul
  list-style: none
  padding: 0

li
  font-size: 1.4em
  a
    text-align: center
    display: block
    padding: 10px 15px
    text-decoration: none
    color: #fff
    font-family: inherit

.container
  flex-grow: 1
  max-width: 100%
  text-align: center
  margin: 0 auto

footer
  text-align: center
  padding: 1em
  color: #fff

/*  A simple media query for all devices with a width greater than 768px

/* .row  Parent

.row
  display: flex
  flex-direction: column

/* .col Child

.col
  flex: 1
  padding: 1em
  margin: .6em
  /* important
  color: #333
  background-color: #eee

@media screen and (min-width: 500px)
  .row
    display: flex
    flex-direction: row

@media only screen and (min-device-width: 769px)
  header
    display: flex
    flex-direction: row
    justify-content: space-between
  h1
    text-align: center
    margin-left: 1em
  ul
    display: flex
    flex-direction: row
    list-style: none
    margin-right: 1em
  li
    font-size: 1.4em



    //footer


footer
 .col
   color: #eee
   background-color: #000
   text-align: left

.flex-row
  display: flex

.div1
  flex: 1 1 auto
.div1
  a
    text-decoration: none
    color: #ffffff

.div2
  flex: 0 0 auto

.flex-row
  width: 90%
  padding: 1em
  overflow: hidden

.flex-row
  div
    padding: 1em
    margin: 0.2em
    background-color: rgba(0,0,0,0.125)


