<header>
    <h1>logo</h1>
    <ul class="menu">
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="houses">Houses</a></li>
        <li><a routerLink="flats">Flats</a></li>
    </ul>
</header>
<div class="container">
    <router-outlet></router-outlet>
</div>
<footer>
    <div class="row">
        <div class="col">
            logo
            <p class="text">Laoreet perfect warm-up care, and temperature changes. Nam computer. However, free vehicles deductible.</p>
        </div>
        <div class="col">
            <h3>WHETSTONE</h3>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
        </div>
        <div class="col">
            <h3>OUR COMPANY</h3>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
        </div>
        <div class="col">
            <h3>CONNECT</h3>
        </div>

    </div>
    <hr>
    <div class="flex-row ">
        <div class="div1">
            <a href="#">Website Privacy Police | </a>
            <a href="#">Cookie Police | </a>
            <a href="#">Social Media | </a>
            <a href="#">Terms | </a>
            <a href="#">Statutory Information | </a>
            <a href="#">Supply Chain | </a>
            <a href="#">Modern Slavery</a>
        </div>
        <div class="div2">Gold Compass Developments (UK)</div>
    </div>
</footer>
