<section class="container">
    <div class="flexbox col-3">
        <img src="assets/img/slide.jpg"/>
    </div>

</section>
<section class="mt-5 mb-5">
    <div class="col-8">
        <h2>ABOUT OUR PROJECT</h2>
        <hr>
        <p>Laoreet perfect warm-up care, and temperature changes. Nam computer. However, free vehicles deductible.</p>
    </div>
</section>

<section class="mt-5 mb-5 section-bg">
    <div class="col-8 ">
        <h2>DEVELOPMENT</h2>
        <hr>
        <p>Laoreet perfect warm-up care, and temperature changes. Nam computer. However, free vehicles deductible.</p>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col card-1">
                <div class="row">
                    <div class="col">
                        <img src="assets/img/block_a.jpg"/>
                        <h1>Block A</h1>
                        <p>41 units</p>
                        <button class="btn btn-red btn-rounded">explore</button>
                    </div>
                    <div class="col">
                        <img src="assets/img/block_b.jpg"/>
                        <h1>Block b</h1>
                        <p>45 units</p>
                        <button class="btn btn-red btn-rounded">explore</button>
                    </div>
                </div>
            </div>
            <div class="col col-r card-2">
                <img src="assets/img/block_b.jpg"/>
                <h1>HOUSES</h1>
                <button class="btn btn-red btn-rounded">explore</button>
                <!--<p>download</p>-->
                <!--<p>test</p>-->
            </div>
        </div>

    </div>
</section>

<section class="mt-5 mb-5">
    <div class="col-8">
        <h2>GALLERY</h2>
        <hr>
        <p>Laoreet perfect warm-up care, and temperature changes. Nam computer. However, free vehicles deductible.</p>
    </div>
    <div class="container">
        <div class="wrapper">
            <div class="wrap-1 img-test">
                <img width="auto" src="assets/img/interior.jpg"/>
                <div class="top-left">INTERIOR</div>
            </div>
            <div class="wrap-2 img-test">
                <img class="" src="assets/img/exterior.jpg"/>
                <div class="top-left">EXTERIOR</div>
            </div>
        </div>
        <div class="wrap-3 img-test">
            <img src="assets/img/exterior.jpg"/>
            <div class="top-left">VIDEO</div>
            <svg class="centered video-overlay-play-button " viewBox="0 0 200 200" alt="Play video">
                <circle cx="100" cy="100" r="90" fill="none" stroke-width="15" stroke="#fff"/>
                <polygon points="70, 55 70, 145 145, 100" fill="#fff"/>
            </svg>
        </div>
    </div>
</section>


<section class="mt-5 mb-5">
    <div class="col-8 bg-img">
        <div class="layer">
            <p class="centered-text">Laoreet perfect warm-up care, and temperature changes. Nam computer. However, free vehicles deductible.</p>
        </div>
    </div>
</section>

